@charset "utf-8";
@use "../global";

.l-breadcrumb {
  padding-top: 20px;
  padding-bottom: 20px;

  .l-breadcrumb__list {
    display: flex;
    column-gap: 10px;
    align-items: center;

    @include global.content_width(wide);
  }

  .l-breadcrumb__item {
    @include global.line_height(20, 14);
    @include global.fz(14);

    &:nth-child(n + 2) {
      display: flex;
      align-items: center;

      &::before {
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        content: "";
        border-top: 2px solid global.$color_darkgray;
        border-right: 2px solid global.$color_darkgray;
        transform: rotate(45deg);
      }
    }

    &:last-child {
      @include global.font_weight_bold;
    }
  }

  .l-breadcrumb__itemLink {
    text-decoration: none;

    @include global.hover {
      text-decoration: underline;
    }
  }
}
