@charset "utf-8";
@use "../global";

.l-columns {
  padding-top: 40px;
  padding-bottom: 40px;

  @include global.content_width(wide);

  @include global.md {
    display: grid;
    grid-template-areas: "main sub";
    grid-template-columns: 60% auto;
    column-gap: 5%;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .l-columns__main,
  .l-columns__sub {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: global.$color_lightgray;
  }

  .l-columns__main {
    @include global.md {
      grid-area: main;
    }
  }

  .l-columns__sub {
    @include global.md {
      position: sticky;
      top: 150px;
      right: 0;
      grid-area: sub;
    }
  }

  .l-columns__section {
    & + .l-columns__section {
      margin-top: 40px;
    }
  }
}
