@charset "utf-8";
@use "../global";

.l-globalNav {
  @include global.under_md {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: global.$color_white;
    transition: opacity 0.25s, visibility 0.25s;
  }

  &[aria-hidden="true"] {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .l-globalNav__list {
    @include global.md {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
  }

  .l-globalNav__item {
    @include global.line_height(20, 14);
    @include global.fz(14);

    @include global.md {
      @include global.fz(16);
    }
  }

  .l-globalNav__itemLink {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;

    @include global.md {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include global.hover {
      text-decoration: underline;
    }
  }
}
