@charset "utf-8";
@use "../global";

.l-linkSkip {
  position: fixed;
  top: 0;
  left: 0;

  @include global.visually_hidden;

  &:focus {
    top: 5px;
    left: 5px;
    display: block;
    width: 15em;
    height: auto;
    padding: 5px;
    clip: auto;
    text-align: center;
    text-decoration: none;
    background-color: global.$color_white;
    border: global.$color_primary solid 1px;
    border-radius: 2px;

    @include global.fz(18);
  }
}
