---
import type { HTMLAttributes } from "astro/types"

import style from "./LinkGhost.module.scss"

export type Props = HTMLAttributes<"a">

const props = Astro.props
---

<a {...props} class={style.link}><slot /></a>
