@charset "utf-8";
@use "../global";

.p-entry {
  word-break: break-all;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  // 見出し
  > h1 {
    margin-top: 30px;
    margin-bottom: 30px;

    @include global.fz(40);
  }

  > h2 {
    margin-top: 30px;
    margin-bottom: 30px;

    @include global.fz(32);
  }

  > h3 {
    margin-top: 25px;
    margin-bottom: 25px;

    @include global.fz(24);
  }

  > h4 {
    margin-top: 25px;
    margin-bottom: 25px;

    @include global.fz(20);
  }

  > h5 {
    margin-top: 20px;
    margin-bottom: 20px;

    @include global.fz(18);
  }

  > h6 {
    margin-top: 20px;
    margin-bottom: 20px;

    @include global.fz(16);
  }

  // 本文テキスト
  > p {
    margin-top: 20px;
    margin-bottom: 20px;

    @include global.fz(16);
  }

  // リンク
  a {
    color: global.$color_primary;
  }

  // リスト
  > ul {
    margin-top: 20px;
    margin-bottom: 20px;

    > li {
      margin-top: 10px;
      margin-bottom: 10px;

      @include global.fz(16);
    }
  }

  > ol {
    margin-top: 20px;
    margin-bottom: 20px;

    > li {
      margin-top: 10px;
      margin-bottom: 10px;

      @include global.fz(16);
    }
  }

  // 画像
  > .wp-block-image {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      margin-top: 10px;

      @include global.fz(14);
    }
  }

  // テーブル
  > .wp-block-table {
    margin-top: 30px;
    margin-bottom: 30px;

    td {
      padding: 5px;
      border: 1px solid gray !important;

      @include global.fz(16);
    }
  }

  // ボタン
  > .wp-block-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;

    .wp-block-button {
      display: inline-block;

      .wp-block-button__link {
        padding: 10px 20px;
        margin-right: 10px;

        @include global.fz(18);
      }
    }
  }

  // ファイルダウンロード
  > .wp-block-file {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    a:first-of-type {
      @include global.fz(16);
    }

    .wp-block-file__button {
      margin-left: 10px;
    }
  }

  // 動画（videoタグ）
  > .wp-block-video {
    margin-top: 30px;
    margin-bottom: 30px;

    video {
      width: 100%;
    }
  }

  // 埋め込み（YouTubeやTwitter）
  > .wp-block-embed {
    margin-top: 30px;
    margin-bottom: 30px;

    .wp-block-embed__wrapper {
      text-align: center;

      .twitter-tweet {
        margin: 0 auto;
      }

      iframe {
        // style
      }
    }
  }

  // 引用
  > .wp-block-quote {
    margin-top: 30px;
    margin-bottom: 30px;

    > p {
      @include global.fz(16);
    }
  }

  // 区切り線
  > .wp-block-separator {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
