@charset "utf-8";
@use "@/styles/global" as *;

.headerMenu {
  @include under_md {
    display: none;
  }
  .headerMenu__list {
    @include md {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
  }

  .headerMenu__item {
    @include line_height(20, 14);
    @include fz(14);

    @include md {
      @include fz(16);
    }
  }

  .headerMenu__itemLink {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;

    @include md {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include hover {
      text-decoration: underline;
    }
  }
}
