@charset "utf-8";
@use "@/styles/global" as *;

.footer {
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @include md {
      gap: 20px;
    }
  }
}
