---
import DocumentLayout, { Props as DocumentProps } from "../layouts/Document.astro"

import Footer from "@/components/Elements/Footer/Footer.astro"
import Header from "@/components/Elements/Header/Header.astro"
import LinkSkip from "@/components/Elements/LinkSkip/LinkSkip.astro"

export type Props = DocumentProps

const props = Astro.props
---

<DocumentLayout {...props}>
  <LinkSkip />
  <Header />
  <main id="start-of-content" class="siteContent">
    <slot />
  </main>
  <Footer />
</DocumentLayout>
