@charset "utf-8";
@use "@/styles/global" as *;

.footerMenu {
  .footerMenu__list {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .footerMenu__item {
    @include line_height(20, 14);
    @include fz(14);

    @include md {
      @include fz(16);
    }
  }

  .footerMenu__itemLink {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;

    @include md {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include hover {
      text-decoration: underline;
    }
  }
}
