@charset "utf-8";
@use "@/styles/global" as *;

.mainVisual {
  position: relative;
  display: grid;
  align-items: center;
  padding: 60px 32px;

  @include md {
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mainVisual__inner {
    position: relative;
    z-index: 1;
    @include content_width(wide);
  }

  .mainVisual__heading {
    color: $color_white;

    @include line_height(40, 24);
    @include fz(24);

    @include md {
      @include line_height(72, 50);
      @include fz(50);
    }
  }

  .mainVisual__background {
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .mainVisual__backgroundImage {
    display: block;
    width: 100%;
    height: 100%;

    @include object_fit;
  }
}
