---
import style from "./Hamburger.module.scss"
---

<button
  type="button"
  id="js-hamburger"
  class={style.hamburger}
  aria-label="メニューを表示する"
  aria-controls="js-hamburger-menu"
  aria-expanded="false"
>
  <span class="c-hamburger__line"></span>
</button>z
