---
import type { HTMLAttributes } from "astro/types"

import style from "./ButtonHamburger.module.scss"

export type Props = HTMLAttributes<"button">

const { ...props } = Astro.props
---

<button
  type="button"
  id="js-hamburger"
  class={style.hamburger}
  aria-label="メニューを表示する"
  aria-controls="js-hamburger-menu"
  aria-expanded="false"
  {...props}
>
  <span class={style.hamburger__line}></span>
</button>
