---
import style from "./DrawerNav.module.scss"
---

<nav id="js-hamburger-menu" class="l-globalNav" aria-label="global navigation" aria-hidden="true">
  <ul class="l-globalNav__list">
    <li class="l-globalNav__item">
      <a href="" class="l-globalNav__itemLink">MENU</a>
    </li>
    <li class="l-globalNav__item">
      <a href="" class="l-globalNav__itemLink">MENU</a>
    </li>
    <li class="l-globalNav__item">
      <a href="" class="l-globalNav__itemLink">MENU</a>
    </li>
    <li class="l-globalNav__item">
      <a href="" class="l-globalNav__itemLink">MENU</a>
    </li>
    <li class="l-globalNav__item">
      <a href="" class="l-globalNav__itemLink">MENU</a>
    </li>
  </ul>
</nav>
