@charset "utf-8";
@use "../global";

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  background: global.$color_white;
  border: 1px solid global.$color_black;

  @include global.fz(13);
}
