@charset "utf-8";
@use "../global";

.c-form {
  .c-form__input {
    width: 100%;
    padding: 8px 12px;
    background-color: global.$color_white;
    border: 1px solid global.$color_primary;
  }

  .c-form__select {
    width: 100%;
    padding: 8px 12px;
    background-color: global.$color_white;
    border: 1px solid global.$color_primary;
  }

  .c-form__textarea {
    width: 100%;
    padding: 8px 12px;
    background-color: global.$color_white;
    border: 1px solid global.$color_primary;
  }
}
